* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
p {
  margin: 20px;
  color: whitesmoke;
  font-size: 12px;
}

body {
  font-family: sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(58, 57, 57);
}

.container {
  width: 300px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(51, 51, 51);
  border-radius: 5px;
  background-color: rgb(51, 51, 51);
  margin: 5px;
  padding: 10px;
}

input {
  margin: 20px;
  height: 35px;
  border: none;
  font-size: ;
}

button {
  background-color: rgb(52, 52, 202);
  border: none;
  border-radius: 5px;
  color: whitesmoke;
  margin: 20px;
  height: 40px;
  font-size: 12px;
}

button:hover {
  color: rgb(52, 52, 202);
  background-color: whitesmoke;
}
